@import '../../variables.scss';

#Projects{
    background-color:white;
    .items{
        @media screen and (min-width:600px){
            display:grid;
            
            //Ca marche mieux avec ceci :

            grid-template-columns:1fr 1fr 1fr 1fr;
            
            //Qu'avec ça :
            
            //grid-template-rows:1fr 1fr 1fr;
            //grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
            //grid-template-rows: repeat(auto-fit, minmax(320px,1fr));

            //Surtout en responsive (ça se pète la gueule sur les grands écrans)
        }
        
        .item{
            grid-column: span 1;
            grid-row: span 1;
            a{
                img, video{
                    display:block;
                    width: 100%;                   
                    height:100%;
                    object-fit:cover;
                    object-position: center center;
                }
            }
            &.jeune-juliette{
                grid-column: span 2;
            }
            &.les-equilibristes{
                grid-column: span 2;
            }
            &.alexandre-le-fou{
                grid-column: span 2;
            }
            &.introspections-selectives{
                grid-column: span 2;
            }
            &.le-deserteur{
                grid-column:span 2;
                grid-row:span 3;
            }
            &.yellow-and-blue{
                grid-column: span 2;
            }
            &.akina-wise{
                grid-column: span 2;
            }
            &.eldorado-afro{
                grid-column: span 2;
            }
            &.ronan-martin-les-rayons{
                grid-column: span 2;
            }
            &.ronan-martin{
                grid-column: span 2;
                grid-row: span 2;
            }
            &.salvak{
                grid-column: span 2;
            }
        }
    }

    //Je n'ai aucune idée de ce qu'est ceci : 
    #placeholderVideo{
        grid-area:placeholderVideo;
        object-fit:cover;
    }
}