@import '../../variables.scss';

#Projects{
    background-color:white;
    .items{
        @media screen and (min-width:600px){
            grid-template-areas: 
                'jeune-juliette  jeune-juliette les-alchimistes les-alchimistes'
                'amanda-is       amanda-is     alex-le-fou      alex-le-fou' 
                'le-deserteur    le-deserteur  original-cosmic-playlist afrika-glam'
                'le-deserteur    le-deserteur  the-mice         paleo'
                'le-deserteur    le-deserteur  yellow-and-blue  yellow-and-blue'
                'akina-wise      akina-wise    eldorado-afro    eldorado-afro'
                'ombres-colorees maescroc      omg              doux-divorce-records'
                'ronan-martin    ronan-martin  les-rayons       les-rayons'
                'vendetta        vendetta      les-rayons       les-rayons'
            ;
            display:grid;
        }
        
        .item{
            
            a{
                
                img, video{
                    display:block;
                    width: 100%;                   
                    height:100%;
                    object-fit:cover;
                    object-position: center center;
                }
            }
        }
    }
    .jeune-juliette{
        grid-area:jeune-juliette;
    }
    .les-alchimistes{
        grid-area:les-alchimistes;
    }
    .alex-le-fou{
        grid-area: alex-le-fou;
    }
    .amanda-is{
        grid-area: amanda-is;
    }
    
    .le-deserteur{
        grid-area:le-deserteur;
        display:flex;
        align-items:center;
        justify-content: center;
        img{
            max-height:100vh;
            // max-width:500px;
            object-fit:contain;
            // object-fit:cover;
        }
    }
    .afrika-glam {
        grid-area:afrika-glam;
    }
    .original-cosmic-playlist{
        grid-area:original-cosmic-playlist;
    }
    .paleo{
        grid-area:paleo;
    }
    .the-mice{
        grid-area:the-mice;
        img{
            object-fit:contain;
        }
    }
    .yellow-and-blue{
        grid-area:yellow-and-blue;
    }
    .akina-wise{
        grid-area:akina-wise;
    }
    .eldorado-afro{
        grid-area:eldorado-afro;
    }
    .ombres-colorees{
        grid-area:ombres-colorees;
    }
    .maescroc{
        grid-area:maescroc;
    }
    .omg{
        grid-area:omg;
    }
    .doux-divorce-records{
        grid-area:doux-divorce-records;
    }

    .ronan-martin{
        grid-area:ronan-martin;
    }

    .ronan-martin-les-rayons{
        grid-area:les-rayons;
    }
    .vendetta{
        grid-area:vendetta;
    }
}