@import '../../variables.scss';

#Header{
    width:100% !important;
    display:grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap:wrap;
    // border:1px dashed black;
    align-items: center;
    min-height:30vh;
    padding-left:25px;
    padding-right:25px;
    img{
        display:block;
        max-width:200px;
        height:auto;
        // border:1px dashed black;
    }
    .menu{
        text-align: right;
        display:flex;
        flex-direction: column;
        justify-content: center;
        a{
            font-family: 'Ubuntu Mono';
            color:black;
            text-decoration: none;
            display: block;
            font-size:14px;
            &:hover{
                text-decoration: underline;
            }
            //Attention c'est la classe active
            &.active{
                &::before{
                    content: '';
                    display: inline-block;
                    border-bottom: 1px solid #000;
                    width: 15px;
                    margin: 0 5px;
                }
            }
        }
    }

}
