@import '../../variables.scss';

#Header{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    min-height:30vh;
    padding-left:25px;
    padding-right:25px; 
    img{
        display:block;
    }
    .menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        a{
            font-family: 'Ubuntu Mono';
            color:black;
            text-decoration: none;
            display: block;
            &:hover{
                text-decoration: underline;
            }
            //Attention c'est la classe active
            &.active{
                &::before{
                    content: '';
                    display: inline-block;
                    border-bottom: 1px solid #000;
                    width: 15px;
                    margin: 0 5px;
                }
            }
        }
    }

}
