@import '../../variables.scss';

#Header{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    min-height:50vh;
    //On est des dingues
    padding-left:25px;
    padding-right:25px; 
    img{
        display:block;
    }
    .menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        a{
            font-family: 'Ubuntu Mono';
            color:black;
            text-decoration: none;
            display: block;
            &:hover{
                text-decoration: underline;
            }
        }
    }

}
