@import '../../variables.scss';

#Screen{
    background-color:black;

    #landingVideo{

        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        height:100vh;
        width:100vw;
        object-fit:cover;
        object-position:center center;
        opacity:1;

        &.ocaurevoir{
            animation-name:ocAurevoir;
            animation-delay:4s;
            animation-duration:1s;
            animation-fill-mode:forwards;
            
        }
        @keyframes ocAurevoir{
            from{
                opacity:1;
            }
            to{
                opacity:0;
            }
        }
    }

    #Landing{
        min-height: 100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor:pointer;
        position:relative;
        z-index:2;
        opacity:0;
        /*
        @media screen and (max-width:600px){
            opacity:1;
        }
        */
        &.ocbonjour{
            animation-name:ocBonjour;
            animation-delay:6s;
            animation-duration:1s;
            animation-fill-mode:forwards;
        }
        @keyframes ocBonjour{
            from{
                opacity:0;

            }
            to{
                opacity:1;
            }
        }
        h1{
            margin:0px;
            z-index:0;
        }
        p{
            font-family: 'Ubuntu Mono';
            margin:0px;
            font-size:18px;
        }
        a{
            text-decoration: none;
            color:inherit;
            color:white !important;
        }
    }

}