@import '../../variables.scss';

#Mentions{
    //C'est bizzare qu'on doive ajouter un margin top, mais c'est peut-être à cause de la typo
    margin-top:20px;
    @media screen and (min-width:600px){
        width:75%;
        margin-left:auto;
        margin-right:auto;
    }
}