@import '../../variables.scss';


//D'abord on commence par le mobile : 
.original-cosmic-playlist{
    .media1{
        background-color:$yellow;
        padding:25px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

.maescroc{
    .media{
        img{
            object-fit: scale-down;
            width:100%;
            height:auto;
        }
    }
}



@media screen and (min-width:600px){
    /*
    .alex-le-fou{
        
    }
    .amanda-is{

    }
    */
    .le-deserteur{        
        grid-template-areas:
            'media0 media0 media0 media0'
            'cartou cartou media1 media2'
            'cartou cartou media3 media4'
            'media5 media5 previo nextio'
        ;
        .media0{
            min-height:100vh;
        }
        .media5{
            img{
                object-fit: scale-down;
            }
        }
    }
    .afrika-glam{
        grid-template-areas: 
            'media0 media0 media0 media0'
            'cartou media1 media1 previo'
            'cartou media1 media1 nextio'
        ;
        .media img{
            object-fit: contain;
        }
        
        .media0{
            background-color:#C6C8B3;
            height:100vh;
        }
        
    }
    .original-cosmic-playlist{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'media0 media1'
            'cartou cartou'
            'previo nextio'
        ;
    }
    .paleo{
        grid-template-areas: 
            'media0 media0 media0'
            'cartou previo nextio'
        ;
        
    }
    .the-mice{
        grid-template-areas:
            'media0 media0'
            'media1 cartou'
            'media2 media2'
            'previo nextio'
        ;
        @media screen and (max-width:1070px){
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width:1070px){
            grid-template-areas:
                'media0 media0 media0 media0 media0'
                'media1 media1 cartou media2 media2'
                'media1 media1 cartou previo nextio'
            ;
        }

        .media2{
            background-color: #97AA73;
            display: grid;
            align-items: center;
        }

    }
    .yellow-and-blue{
        background-color:#132990;
        grid-template-areas: 
            'cartou media0 media0'
            'cartou media0 media0'
            'cartou previo nextio'
        ;
    }
    .akina-wise{
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'media0 media0'
            'cartou media1'
            'previo nextio'
        ;
        .media1{
            img{
                object-fit: contain;
            }
        }
    }
    .eldorado-afro{
        grid-template-areas:
            'media0 media0'
            'cartou cartou'
            'previo nextio'
        ;
        @media screen and(min-width:1200px){
            .media{
                display:flex;
                align-items: center;
                justify-content: center;
                img{
                    object-fit: contain;
                    width:960px;
                    height:auto;
                }
            }
        }
    }
    .ombres-colorees{
        grid-template-areas:
            'media0 media0 cartou'
            'media0 media0 previo'
            'media0 media0 nextio'
        ;
    }
    .maescroc{

        grid-template-areas:
            'media0 media1 cartou'
            'previo nextio cartou'
        ;

        .media0{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        

    }
    .omg{
        grid-template-areas:
            'media0 media0 media0'
            'cartou cartou previo'
            'cartou cartou nextio'
        ;
    }
    .doux-divorce-records{
        grid-template-areas:
            'media0 media0 media1 media1'
            'media2 media2 cartou cartou'
            'previo .      .      nextio'
        ;
        @media screen and (min-width:1000px){
            .media{
                img{
                    object-fit: scale-down;
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .ronan-martin{
        grid-template-areas:
            'media0 media0 media0'
            'media1 media1 previo'
            'media1 media1 cartou'
            'media1 media1 nextio'
        ;
    }
    .ronan-martin-les-rayons{
        grid-template-areas:
            'media0 media0 media0 media0'
            'media0 media0 media0 media0'
            'media1 media1 media1 media1'
            'media1 media1 media1 media1'
            'cartou media2 media2 media2'
            'cartou previo nextio nextio'
    }
    .vendetta{
        grid-template-columns:1fr 10fr;
        grid-template-areas:
            'media0 media0 media0'
            'previo cartou cartou'
        ;
        .media0{
            display:grid;
            align-items: center;
        }
    }

}

