@import '../../variables.scss';


#singleProject{
    position:relative;

    .grid{
        display:grid;
        background-color: white;
        min-height:100vh;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        .cartouche{
            background-color:white;
            padding:25px;
            padding-left:50px;
            padding-right:50px;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .nav-prev{
            padding:50px;
        }
        .nav-next{
            padding:50px;
        }

        img,video{
            display:block;
        }

        //Du générique...
        @media screen and (min-width:600px){


            .media{ 
                position:relative;
                overflow:hidden;

                img{
                    width: 100%;                   
                    height:100%;
                    object-fit:cover;
                    object-position: center center;
                }

                video{
                    object-fit: cover;
                    width:100%;
                    height:100%;
                    object-position: center center;
                }
            }
        
            .cartouche{
                grid-area:cartou;
            }
            .media0{
                grid-area:media0;
            }
            .media1{
                grid-area:media1;
            }
            .media2{
                grid-area:media2;
            }
            .media3{
                grid-area:media3;
            }
            .media4{
                grid-area:media4;
            }
            .media5{
                grid-area:media5;
            }
            .nav-prev{
                grid-area:previo;
            }
            .nav-next{
                grid-area:nextio;
            }

        }
        
    }

    @import 'grids.scss';
}

@media screen and (min-width:600px){
    #singleProject{
        #projectGrid.grid{
            min-height: 100vh;
        }
    }
}