@import '../../variables.scss';

    #singleProject{
        position: relative;
        display: grid;
        grid-template-columns: 80vw 20vw;
        min-height:100vh;
        .alice-carousel{
            //border:5px dashed black;
            background-color:silver;
            max-width: 80vw;
            
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh;
            }

            img{
                //border:5px dashed blue;
                max-width:100%;
                height:auto;
            }
        }
        .informations{
            background-color:royalblue;
        
            nav#ProjectNav{
                
            }
            a{
                display:block;
                font-family: 'Ubuntu Mono';
                text-decoration: none;
                color:black;
            }
        }
    }


